.menuIcon {
  display: block;
  font-size: 25px;
  @media (min-width: 768px) {
    display: none;
  }
}

.filter-d {
  display: none;
  backgroundColor: white;
  borderRadius: 3px;
  @media (min-width: 768px) {
    display: block;
  }
}